.slider-area {
    align-items: center;
    height: 200px;
    overflow: hidden;
    width: 900px;
    margin: 0 auto;

}

.slider-area img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-fit: contain;
    object-fit: fill;

}